// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

// https://fontawesome.com/v5.15/how-to-use/on-the-web/using-with/sass
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.nav-laravel{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}

.router-link-exact-active{
  background-color: #606970 !important;
  color: white !important;
}

.white {color: $white;}
.blue {color: $blue;}
.indigo {color: $indigo;}
.purple {color: $purple;}
.pink {color: $pink;}
.red {color: $red;}
.orange {color: $orange;}
.yellow {color: $yellow;}
.green {color: $green;}
.teal {color: $teal;}
.cyan {color: $cyan;}


.card-body{
  min-height: 15rem;
}
